<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Estilos */
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      }
      h1 {
        color: #333;
      }
      p {
        color: #666;
      }
      .footer {
        margin-top: 20px;
        padding-top: 10px;
        border-top: 1px solid #ccc;
        font-size: 12px;
        color: #888;
      }
      .signature {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #ccc;
      }
      .signature p {
        margin: 5px 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Bem vindo ao IBC TalentFlow, <%= @name %></h1>
      <p>
        Seu cadastro em ibctalentflow.com.br foi realizado com sucesso com o CPF: <%= @cpf %>.<br>
      </p>
      <p>
        Para ativar sua conta, clique no link: <%= @url %>.
      </p>
      <p>Espero que logo você faça parte da família IBC!</p>
      <div class="footer">
        <p>Esse e-mail foi enviado para <%= @email %> referente ao cadastro em IBC TalentFlow.</p>
        <p>Se você acredita que esse e-mail foi enviado por engano ou possui alguma dúvida, por favor contate-nos <a href="mailto:talentflow-suporte@ibccoaching.com">talentflow-suporte@ibccoaching.com</a>.</p>
      </div>
    </div>
    <div class="signature">
      <p>Logo?</p>
      <p>Website: www.ibctalentflow.com</p>
    </div>
  </body>
</html>
